/* header and nav styling */
.header {
    background-color: #4A306D;
    color: white;
}
.header a {
    color: white;
}
.header a:hover {
    color: white;
    text-decoration: none;
}
/* footer styling */
.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer a {
    color: #A167A5;
}
.footer a:hover {
    color: #A167A5;
    text-decoration: none;
}
/* header - menu nav styling */
.menu-nav {
    cursor: pointer;
}
.menu-nav > * {
    margin-left: 5px;
}
/* header - dropdown menu */
.menu-nav-dropdown{
    position: absolute;
    top: 70px;
    right: 10px;
    z-index: 5;
    border-radius: 5px;
}

.menu-nav-dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 15px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 10px solid #A167A5;
}

.menu-nav-dropdown .dropdown-link{
    display: block;
    color: white;
    background-color: #A167A5;
    padding: .5rem 1.5rem;
    transition: all .25s;
}
.menu-nav-dropdown .dropdown-link:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #A167A5;
}
.menu-nav-dropdown .dropdown-link:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #A167A5;
}
.menu-nav-dropdown .dropdown-link:hover{
    display: block;
    background-color: white;
    color: #A167A5;
    padding: .5rem 1.5rem;
}
/* hero-panel component styling */
.hero-bg {
    background: url('/images/flower-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center 40%;
    min-height: 400px;
}
.hero-content {
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 455px;
    margin: auto;
    text-align: center;
}
/* feature-panel component styling */
.feature-bg {
    padding: 60px 0;
}
.feature-icon{
    max-width: 125px;
}