/* header and nav styling */
.header {
    background-color: #4A306D;
    color: white;
}
.header a {
    color: white;
}
.header a:hover {
    color: white;
    text-decoration: none;
}
/* footer styling */
.footer a {
    color: #A167A5;
}
.footer a:hover {
    color: #A167A5;
    text-decoration: none;
}
/* header - dropdown menu */
.menu-nav-dropdown{
    position: absolute;
    top: 75px;
    right: 10px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    background-color: #A167A5;
    z-index: 1;
}
.menu-nav-dropdown-arrow{
    transform: rotate(45deg);
    background-color: #A167A5;
    position: absolute;
    right: 22px;
    top: 70px;
    width: 12px;
    height: 12px;
}
a.dropdown-link{
    display: block;
    color: white;
}
/* header - menu nav styling */
.menu-nav > * {
    margin-left: 10px;
    cursor: pointer;
}
/* hero-panel component styling */
.hero-bg {
    background: url('https://bit.ly/2Kj2doT') no-repeat;
    background-size: cover;
    height: 600px;
}
.hero-content {
    background-color: rgba(255, 255, 255, 0.6);
}
/* feature-panel component styling */
.feature-bg {
    padding: 60px 0;
}
.feature-icon{
    max-width: 125px;
}