body {
    font-family: 'Muli', sans-serif;
    position: relative;
    height: 100vh;
}

.logo {
    font-family: 'Quicksand', sans-serif;
}
.logo-icon {
    max-width: 28px;
    margin-right: 5px;
    margin-top: -5px;
}
/*loading icon*/
.loader {
    position: fixed;
    top: 65px;
    left:0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #FFF;
}
.loading-icon {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    
}
/* modal (timeline entry form) */
.dropdown-low{
    display: inline-block;
    position: absolute;
    top: 70px;
    right: 0;
    border: 2px solid grey;
    background-color: white;
    z-index: 1;
}
.dropdown{
    display: inline-block;
    position: absolute;
    top: 40px;
    right: 0;
    border: 2px solid grey;
    background-color: white;
}
.dropdown.btn-danger{
    background-color: #FF0000;
    color: white;
}
.dropdown-low a.dropdown-link{
    display: block;
    color: #A167A5;
}
.dropdown-low a.dropdown-link:hover{
    background-color: #8b508f;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal-body{
    box-sizing: border-box;
    padding: 40px 20px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.3em;
    line-height: 0;
    cursor: pointer;
}
/* button styling */
.btn-primary {
    background-color: #A167A5;
    border: none;
}
.btn-primary:hover {
    background-color: #8b508f;
}

.radio-container label {
    margin-left: 15px;
}

.radio-container input[type=radio] {
    display: none;
}

.radio-container input[type=radio] + label {
    position: relative;
}

.radio-container input[type=radio] + label:before {
    content: "";
    position: absolute;
    left: -25px;
    top:50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #CCC;
}

.radio-container input[type=radio]:checked + label {
    font-weight:bold;
}

.radio-container input[type=radio]:checked + label:before {
    background-image: url(images/checkmark.svg);
    background-position: center;
}

/* slick slider */

.slick-next:before, .slick-prev:before {
    color: #8b508f;
}