<<<<<<< HEAD
/* header and nav styling */
.header-bg {
    background-color: #4A306D;
    color: white;
}
.menu-nav > * {
    margin-left: 10px;
    cursor: pointer;
}
/* hero-panel component styling */
.hero-bg {
    background: url('https://bit.ly/2Kj2doT') no-repeat;
    background-size: cover;
    height: 600px;
}
.hero-content {
    background-color: rgba(255, 255, 255, 0.6);
}
/* feature-panel component styling */
.feature-bg {
    padding: 60px 0;
}
.feature-icon{
    max-width: 125px;
}
.project-label{
  font-size: 16px;
}
/* project-card component styling */
.card-body {
    position: relative;
}
.dots {
    position: absolute;
    color: slategray;
    font-size: 1.5em;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
/* project-items component */
.used-item-height {
    height: 220px;
}
.wide{
  display: inline-block;
  height: 50px;
  width: 100%;
}
/* timeline component */
.plus{
    cursor: pointer;
}
.plus:hover {
    color: #A167A5;
=======
body {
    font-family: 'Muli', sans-serif;
>>>>>>> 4d663e4f7a39d19be64e65b3a27c9502456d01dd
}
/* button styling */
.btn-primary {
    background-color: #A167A5;
    border: none;
}
.btn-primary:hover {
    background-color: #8b508f;
}
/* modal (timeline entry form) */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0); 
    transform: translateX(-100%);
}
.overlay.is-applied{
    transform: translateX(0px);
    background-color: rgba(0, 0, 0, 0.6); 
}
.modal-form{
    box-sizing: border-box;
    padding: 20px;
    width: 50%;
    height: 80%;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-100%, -50%);
}
.modal-form:hover {
    cursor: pointer;
}
.modal-form.is-open {
    transform: translate(-50%, -50%);
}

